
<header class="main-header bg-warning text-center ">
    <nav class="main-header_nav">
        <ul class="main-header_item-list list-inline p-4   ">
            <li class="main-header_item    list-inline-item   "><a href="/">Shop</a></li>
            <li class="main-header_item    list-inline-item"><a href="/admin/add-product">Add-product</a></li>
            <li class="main-header_item    list-inline-item"><a href="/products">Products</a></li>
            <li class="main-header_item    list-inline-item"><a href="/cart">Cart</a></li>
            <li class="main-header_item    list-inline-item"><a href="/admin/products">Admin product</a></li>
            <li class="main-header_item    list-inline-item"><a href="/orders">orders</a></li>
        </ul>
    </nav>
</header> 