<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= PageTitle 5>></title>
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li class="main-header_item"><a href="/">Shop</a></li>
                <li class="main-header_item"><a href="/admin/add-product">Add-product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <% if(prods.length>0){ %>
        <div class="grid">
            <article class="card product-item">
                <header class="card_header">
                <h1 class="product_title">Great Book</h1>
                </header>

                <div class="card_image">
                    <img src="data:image/jpeg" alt="book">
                </div>

                <div class="card_content"> 
                    <h2 class="product_price">$20</h2>
                    <p class="product_descript">Great Book</p>
                </div>
                <div class="card_actions">
                    <button class="btn">Add to cart</button>
                </div>

            </article>
        </div>
        <%}%>
        <% else {%>
            <h1>No product found</h1>
        <%}%>


    </main>
    
</body>
</html>